   /* Your CSS styles here */
   body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#83a4d4, #b6fbff); /* Gradient background */
}
html {
    height: 100%;
}

.ebook-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
textarea{
    height: 10rem;
    width: 85%;
}

iframe{
    height: 10rem;
    width: 85%;
}

.chapter img {
    width: 100%; /* Make images responsive */
    max-width: 400px;
    display: block;
    margin: 20px auto;
}

/* Styles for header and navigation */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Tambahkan margin atas */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
pre {
    overflow-x: auto; /* Membuat kode horizontal scroll pada layar kecil */
}

code {
    font-size: 14px; /* Ukuran font yang lebih kecil untuk kode */
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

table{
    border: 1;
}



@media only screen and (max-width: 600px) {
    /* Styles for smaller screens */
    .ebook-container {
        max-width: 90%; /* Lebar maksimum untuk layar kecil */
        padding: 10px; /* Padding lebih kecil */
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}